<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      My name is Major Hayden and I work on kernel testing at <a href="https://redhat.com">Red Hat</a>.
      I hope you enjoy the blog!
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .Permalink "/" }} active {{ end }}" href="/">Home</a>
    <a class="sidebar-nav-item {{ if eq .RelPermalink "/post/" }} active {{ end }}" href="/post">Blog Posts</a>
    <a class="sidebar-nav-item {{ if eq .RelPermalink "/ham-radio-faq/" }} active {{ end }}" href="/ham-radio-faq">Ham Radio FAQ</a>
    <a class="sidebar-nav-item {{ if eq .RelPermalink "/icanhazip-com-faq/" }} active {{ end }}" href="/icanhazip-com-faq">icanhazip.com FAQ</a>
    <a class="sidebar-nav-item" href="https://majorhayden.com/">Résumé</a>
    <a class="sidebar-nav-item" href="https://github.com/major">GitHub</a>
    <a class="sidebar-nav-item" href="https://gitlab.com/majorhayden">GitLab</a>
    <a class="sidebar-nav-item" href="https://twitter.com/majorhayden">Twitter</a>
    <a class="sidebar-nav-item" href="https://www.slideshare.net/MajorHayden/presentations">Talks &amp; Presentations</a>
    <a class="sidebar-nav-item" href="mailto:major@mhtx.net">Email</a>
  </nav>

  <div class="sidebar-item">
    <img src="/images/cc-by-sa.png" alt="CC-BY-SA">
  </div>
</div>
