<!-- Twitter card -->
  <meta name="twitter:card" content="{{- .Params.twitter.card -}}">
  <meta name="twitter:site" content="{{- .Params.twitter.site -}}">
  <meta name="twitter:title" content="{{- .Params.twitter.title -}}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}{{- .Params.twitter.image -}}">
{{ with .Params.twitter.image_alt -}}  <meta name="twitter:image:alt" content="{{- . -}}">{{- end }}
{{ with .Params.twitter.creator -}}  <meta name="twitter:creator" content="{{- . -}}">{{- end }}
